/* Cart_Popup.css */

.popup {
  position: fixed;
  top: 0;
  right: 0;
  width: 380px;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  overflow-y: auto; /* Allows scrolling if the cart is full */
}
.space {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.popup.open {
  transform: translateX(0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.price-and-button {
  display: fixed;
  flex-direction: column;
  justify-content: end;
}

.popup-content {
  padding: 2rem;
}

.popup-content h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.popup-content ul {
  list-style-type: none;
  padding: 0;
}

.popup-content li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #f0f0f0;
}

.popup-content li button {
  background: #d70f0f;
  border: none;

  cursor: pointer;
  color: white;
}

.popup-content li button:hover {
  background: #6947ff;
}

.popup-content p {
  font-size: 1.2rem;
  text-align: center;
}

.popup-content div:last-child button {
  margin-top: 0.5rem;
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;

  cursor: pointer;
  transition: background-color 0.3s ease;
}
.checkout-button {
  background-color: #059d0a;
}
.checkout-button:hover {
  background-color: #47f64d;
}
.clearcart {
  background-color: #f80808;
}

.clearcart:hover {
  background-color: #ff6b6b;
}

.popup-content div:last-child .close-btn2 {
  background: #6b7280;
}

.popup-content div:last-child .close-btn2:hover {
  background: #0669f3;
}

.popup-content div:last-child button:not(.close-btn2) {
  margin-right: 0.5rem;
}
