.header-container {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-image: url("/wk.webp");
  background-size: cover;
  background-position: center;
  color: rgba(0, 0, 0, 0.536);
}
.head {
  display: flex;
  padding-left: 650px;
}
@media (max-width: 768px) {
  .head {
    padding-left: 0;
    padding: 0px 15px;
    background-color: rgba(255, 145, 255, 0.536);
    border-radius: 50%;
  }
}
